<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body_block %}
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to jala tech</title>
    <link href="{% static 'css/welcome.css' %}" rel="stylesheet">

</head>
<body align="center" margin="100rem" background=url("https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049__340.png") />

    <h2 style="margin-top: 15%; font-family: 'MV Boli'"><i>WELCOME TO</i></h2>
        <h1 style="font-family: 'Segoe Script'" color=>JALA TECHNOLOGIES</h1>



{% endblock %}
</body>
</html>