

body{
  background-image: url("https://images.wallpaperscraft.com/image/solid_colors_stains_light_18571_300x168.jpg");
  background-color: gold;
    background-size: 100%;
  background-repeat: no-repeat;
    text-align: center;
    color: gold;

}
h1{
  text-decoration-color: saddlebrown;
    margin-top: 250px;
}