body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/WgeRenM/videoblocks-soft-colors-light-blue-and-white-abstract-streaks-looping-cg-animated-background_rfbhwr3cg_thumbnail-full01.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
}