body{

    background-image: url(https://ak6.picdn.net/shutterstock/videos/1024598666/thumb/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: oldlace;

}
h1{
        margin-top: 10%;
}